@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --color1: #C8102E;
    --color1b: #91182c;
    --color2: #00B2A9;
    --color3: #F6EB61;
}



/*****************/
/* Algemene Code */
/*****************/

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    width: 100%;
    margin: auto;
    background-color: white;
}



/***************/
/* Header Code */
/***************/

header img {
    max-width: 40px;
    max-height: 40px;
    margin: auto;
}



.menu {
    background-color: var(--color1);
    display: none;
}

.menu.active {
    display: block;
}

header nav a {
    text-decoration: none;
    color: white;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    text-transform: uppercase;
    border-top: solid 1px rgba(255, 255, 255, 0.25);
}

.logo {
    background-color: var(--color1);
}

.hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

header #undernav,
header #socials {
    display: none;
}



/*************/
/* Main Code */
/*************/

#wedstrijden {
    background-color: var(--color1);
    padding: 2em 2em;
    margin-top: 0.4em;
}

#wedstrijden ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}

#wedstrijden li {
    padding: 1.5em 1.5em;
    background-color: var(--color1b);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#wedstrijden img {
    margin: 0 1em;
    margin-bottom: 1em;
    max-width: 75px;
    max-height: 75px;
}

#wedstrijden p {
    color: white;
    font-weight: bold;
}

#wedstrijden p:nth-of-type(2n) {
    color: white;
    font-weight: normal;
}

#wedstrijden button {
    color: var(--color1);
    background-color: white;
    width: 100%;
    margin: 2em 4em 0 4em;
    border-style: none;
    border-radius: 0;
    padding: 1em 2em;
    font-family: 'Quicksand', sans-serif;
}

#wedstrijden button:hover {
    background-color: var(--color2);
    color: white;
}



#videos {
    background-color: var(--color2);
    padding-top: 0.5em;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
}

#videos::-webkit-scrollbar {
    display: none;
}

#videos article {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 325px;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 1em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

#videos article:last-of-type {
    margin-right: 1.5em;
}

#videos article video {
    max-height: 150px;
}

#videos article h3 {
    margin-top: 0.5em;
}

#videos article p {
    color: grey;
    padding-top: 1em;
    font-size: 0.8em;
}



#latestnews {
    display: flex;
    flex-direction: column;
    margin: 0 1.5em;
}

#latestnews h2 {
    color: var(--color1);
    text-transform: uppercase;
    margin-top: 1em;
}

#latestnews article {
    margin-top: 0.5em;
    background-color: #e4e4e4;
    display: flex;
}

#latestnews article:last-of-type {
    margin-bottom: 1em;
}

#latestnews p {
    color: var(--color1);
    font-weight: normal;
    font-size: 0.9em;
}

#latestnews img {
    height: 85px;
    width: 150px;
}

#latestnews h3 {
    margin: 0 0.5em;
    font-size: 1em;
}

#latestnews h3:hover {
    color: var(--color1);
}



/****************/
/* Main Pagina 2*/
/****************/

.page2 h2 {
    width: 100%;
    padding: 1em 2em;
    margin-top: 0.2em;
    color: white;
    background-color: var(--color1);
    text-transform: uppercase;
    text-align: center;
}

.page2 #table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.page2 #table th,
.page2 #table td {
    border: 2px solid white;
    padding: 0.5em;
    text-align: center;
    color: black;
}

.page2 #table th {
    background-color: var(--color1);
    color: white;
}

.page2 #table td {
    background-color: whitesmoke;
}

.page2 #table tr:nth-child(2n) td {
    background-color: white;
}

.page2 #table tr:nth-child(3) td {
    color: var(--color1);
    font-weight: bold;
}

.page2 #table tr:nth-child(3):hover td:nth-of-type(2):after {
    content: ' a.k.a. THE CHAMPIONS';
    max-width: 5em;
}



.page2 h3 {
    padding: 1em 0;
    margin: 0 1em;
    border-bottom: 3px solid var(--color1);
}

.page2 #fixt {
    border-collapse: collapse;
    width: calc(100% - 4em);
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 12px;
}

.page2 #fixt th,
.page2 #fixt td {
    border-bottom: 2px solid whitesmoke;
    padding: 0.5em;
    text-align: center;
    color: black;
    font-weight: bold;
}

.page2 #fixt td {
    background-color: white;
}

.page2 #fixt img {
    max-height: 30px;
}

.page2 #fixt td:nth-of-type(3),
.page2 #fixt td:nth-of-type(5),
.page2 #fixt td:nth-of-type(7) {
    display: none;
}


/***************/
/* Footer Code */
/***************/

footer {
    background-color: var(--color1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerlinks {
    padding: 1em 0;
}

#footerlinks ul {
    list-style: none;
    text-align: center;
    margin-top: 1em;
    width: 80%;
    margin: auto;
}

#footerlinks ul li {
    display: inline;
    border-right: solid 1px white;
}

#footerlinks ul li:last-of-type {
    border-right: none;
}

#footerlinks ul a {
    color: white;
    padding: 0 .5em;
    font-size: 14px;
}

#footerlinks img {
    max-height: 75px;
    max-width: 75px;
    display: block;
    margin: auto;
    margin-bottom: 1em;
}

footer p {
    color: white;
    font-size: 14px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

footer p:first-of-type {
    margin-top: 2em;
}

footer p:last-of-type {
    margin-bottom: 2em;
}


@media (min-width:49em) {

    /*****************/
    /* Algemene Code */
    /*****************/

    html {
        background-color: var(--color1);
        background-image: url("../images/backgroundstadium.jpg");
        background-size: cover;
    }

    body {
        width: 80em;
    }



    /***************/
    /* Header Code */
    /***************/

    header img {
        max-width: 75px;
        max-height: 75px;
    }



    header nav {
        flex-grow: 1;
    }

    header nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
    }

    .menu {
        display: flex
    }

    header nav li {
        display: block;
        flex-grow: 1;
    }

    header nav a {
        background-color: var(--color1);
        text-decoration: none;
        color: white;
        outline: none;
        display: flex;
        line-height: 3.5em;
        justify-content: center;
        align-items: center;
        height: 100px;
        text-transform: uppercase;
    }

    header nav a:hover {
        background-color: var(--color1b);
    }

    header nav a:focus {
        background-color: var(--color1b);
    }

    .hamburger {
        display: none;
    }



    header #undernav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 1em 2em;
    }



    header #socials {
        list-style: none;
        display: flex;
        align-items: center;
    }

    header #socials li {
        max-height: 25px;
    }

    header #socials a {
        background-color: white;
        text-decoration: none;
        color: var(--color1);
        outline: none;
        line-height: 2em;
        margin-left: 1em;
    }

    header #socials a:hover {
        color: var(--color1b);
    }

    header #socials img {
        max-height: 25px;
    }



    /*****************/
    /* Main Pagina 1 */
    /*****************/

    #wedstrijden {
        background-color: var(--color1);
        padding: 4em 4em;
    }

    #wedstrijden ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3em;
    }

    #wedstrijden li {
        padding: 2em 2em;
        background-color: var(--color1b);
    }


    @keyframes video-animation {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.1);
        }
    }

    #videos article:hover {
        animation-name: video-animation;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }



    #latestnews {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-gap: 1em;
    }

    #latestnews h2 {
        grid-column: 1 / -1;
    }

    #latestnews article {
        height: 119px;
    }

    #latestnews p {
        font-size: 0.9em;
    }

    #latestnews h3 {
        margin-right: 0.5em;
    }

    #latestnews img {
        height: 119px;
        width: 210px;
    }



    /****************/
    /* Main Pagina 2*/
    /****************/

    .page2 h2 {
        text-align: left;
    }

    .page2 #table {
        width: calc(100% - 4em);
        font-size: 14px;
    }



    .page2 h3 {
        margin: 0 2em;
    }

    .page2 #fixt {
        width: calc(100% - 4em);
        font-size: 14px;
    }

    .page2 #fixt td:nth-of-type(3),
    .page2 #fixt td:nth-of-type(5),
    .page2 #fixt td:nth-of-type(7) {
        display: table-cell;
    }



    /***************/
    /* Footer Code */
    /***************/

    footer {
        background-color: var(--color1);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footerlinks ul {
        list-style: none;
        width: 100%;
    }

    footer ul a {
        color: white;
    }

    footer p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 79em) {
    body {
        width: 100%;
    }

    header img {
        max-width: 50px;
        max-height: 50px;
    }

    header nav a {
        font-size: 14px;
    }
}

@media (max-width: 61em) {
    #wedstrijden img {
        max-width: 50px;
        max-height: 50px;
    }

    #wedstrijden ul {
        grid-template-columns: none;
    }

    #latestnews article {
        max-height: 85px;
    }

    #latestnews img {
        max-height: 85px;
    }

    #latestnews h3 {
        font-size: 0.8em;
    }
}